<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<h3><a href="/covid_kraje_json">Kraje_JSON</a></h3>
<h3><a href="/leaflet">Mapa leaflet</a></h3>
<h3>Jednotlivé kraje</h3>
<ul>

   <li><a href="/covid_kraje?kraj=CZ010">Praha</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ020">Stredočeský kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ031">Jihočeský kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ032">Plzeňský kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ041">Karlovarský kraj</a></li> 
   <li><a href="/covid_kraje?kraj=CZ042">Ústecký kraj</a></li> 
   <li><a href="/covid_kraje?kraj=CZ051">Liberecký kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ052">Královehradecký kraj</a></li> 
   <li><a href="/covid_kraje?kraj=CZ053">Pardubický kraj</a></li> 
   <li><a href="/covid_kraje?kraj=CZ063">Kraj Vysočina</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ064">Jihomoravský kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ071">Olomoucký kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ072">Zlínský kraj</a></li> 
   <li> <a href="/covid_kraje?kraj=CZ080">Moravskoslezský kraj</a></li> 

 

</ul>

</body>
</html>